secrets/
target/
*.idea
*.iml
*.tfstate
secrets.json

functions/aws_image_scale/resize_and_blur.zip

terraform/aws/config-map-aws-auth_cloud-schulung-terraform.yaml
terraform/aws/kubeconfig_cloud-schulung-terraform

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
